<h1>Créer une annonce</h1>

<%= form_for :annonce do |a| %>
	
  <%= a.label :titre, "Titre de l'annonce:" %>
  <%= a.text_field :titre %></br>

  <%= a.label :question, "Saisir votre question:" %>
  <%= a.text_area :question %></br>

  <%= a.submit "Valider" %>

<% end %>
