<h1>Annonce <%=@annonce.id%></h1>

<%= @annonce.titre %></br>
<%= @annonce.question %>

<h3>Répondez</h3>

<%= form_for([@annonce, @annonce.reponses.build]) do |a| %>
 
  <p>
    <%= a.label "Votre réponse" %><br/>
    <%= a.text_area :texte_reponse %>
  </p>

  <p>
    <%= a.submit "Envoyez"%>
  </p>
  
<% end %>

<br/><%= link_to "Liste des réponses à cette question", annonce_reponses_path(@annonce) %><br/>


